<div>
    <div class="ingredients-container">
        <div class="placeholder-item">
            <i class="fa-duotone fa-down-to-bracket"></i>
            <span>Drag & Drop ingredients here</span>
        </div>
    </div>
    <p class="hint">{{localize "cao-the-call-of-the-ancestors.cauldronApp.hint"}}</p>
</div>