<form id="cao-the-call-of-the-ancestors-confirm-craft">
    <h3>{{localize "cao-the-call-of-the-ancestors.craftDialog.consumes"}}</h3>
    <div>
        {{#each componentsToConsume}}
                <span>{{this.documentLink}}</span>
        {{/each}}
    </div>
    <h3>{{localize "cao-the-call-of-the-ancestors.craftDialog.crafts"}}</h3>
    <div>
        {{#each product.components}}
                <span>{{this.documentLink}}</span>
        {{/each}}
    </div>
</form>